name: Build and Deploy Docker Image kalkulator

on:
  push:
    branches: [ main ]  

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v3
      with:
        context: .
        push: true
        tags: ghcr.io/anomali01/kalkulator-pengembangan-ATP:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push  
    steps:
    - name: Deploy to remote server via SSH
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: 10.1.6.191  
        username: student
        password: student123 
       
